.barra-topo{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
}
.center{
    width: 935px;
    /*background: chartreuse;*/
    display: flex;
    align-items: center;
    z-index: 20;
}
.barra-topo ion-icon{
    width: 19.25px;
    height: 19.25px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.traco{
    height: 22px;
    width: 1px; 
    margin-left: 11.38px;
    background: #DBDBDB; 
}
.barra-topo img{
    height: 29px;
    width: 103px;
    margin-left: 10px;
}

.pesquisa input{
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    margin-left: 214px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}
.icones-b{
    width: 143.18px;
    height: 20px;
    
    margin-left: 214.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icones-b ion-icon{
    width: 19.25px;
    height: 19.25px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.conteudo{
    width: 935px;
    height: calc(100vh - 60px);
    margin-top: 60px;
    /*background: blueviolet;*/
    display: flex;
    flex-wrap: wrap;
    
}
.storys{
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    white-space: nowrap;
    background: white;    
    border: 1px solid #DBDBDB;    
    overflow-x: hidden;
    position: relative;
}
.storys ion-icon{
    position: absolute;
    color: white;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    width: 26px;
    height: 26px;
    bottom: 46px;
    right: 8px;
  }
.story{
    
    width: 77px;
    height: 80px;
    margin-top: 18px;
    display: inline-block;
    text-align: center;
    align-items: center;
    
}
.bg{
    height: 66px;
    width: 66px;
    background-image: url("../arquivos/stories_background.jpg");
    background-position: center;
    background-size: cover;    
}
.bg img{
    border-radius: 100px;
    margin-top: 5px;
    height: 56px;
    width: 56px;
}
.story p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    
    margin-left: -10px;
    color: #262626;
}
.posts{
    width: 614px;
    height: calc(100vh - calc(118px + 60px));
    
}
.post{
    width: 614px;
    height: 749px;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
}
.perfil-p{ /*referente ao perfil do post*/
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    
}
.perfil-p img{
    width: 32px;
    height: 32px;
    margin-left: 17px;
}
.perfil-p p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    color: #262626;
}
.perfil-p ion-icon{
    width: 15px;
    height: 15px;
    margin-left: 480px;
    z-index: 1;
}
.foto{
    height: 612px;
    width: 612px;
    align-items: center;
    display: flex;
    background: white;
    
}
.foto img{
   
    width: 612px;
    height: 612px;
    border: 1px solid #DBDBDB;
}
.foto video{
    width: 612px;
    height: 612px;
    border: 1px solid #DBDBDB;
}
.acao{
    height: 44px;
    background: white;
    align-items: center;
    display: flex;
}
.acao-icon{
    width: 88.18px;
    margin-left: 17.75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acao ion-icon{
    width: 18px;
    height: 18px;
}
.acao a{
    background-image: url("/arquivos/heart-outline.svg");
   
    
}
.acao a:link{
    
    text-decoration: none;
    color: rgba(255, 0, 0, 0);
    
}

.acao a:visited{
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
}
.save{
    margin-left: 478px;
}

.info{
    height: 33px;
    background: white;
    display: flex;
    align-items: center;
}
.info img{
    width: 20px;
    height: 20px;
    margin-left: 17px;
    margin-bottom: 14px;
}
.info p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
    margin-left: 5px;
}
.info h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    margin-bottom: 14px;
    margin-left: 5px;
}
.sidebar{
    width: 293px;
    height: 500px;
    position: fixed;
    margin-left: 642px;
    margin-top: 57px;
    
    
}
.sidebar p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    color: #C7C7C7;
}
.perfil{
    display: flex;
    flex-wrap: wrap;
}
.perfil img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
}
.perfil h5{
    margin-top: 10px;
    margin-left: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #262626;
}
.perfil p{
    margin-top: 30px;
    margin-left: -73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #262626;
}
.sugestoes{
    display: flex;
    flex-wrap: wrap;

}
.sugestoes h6{
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;    
}
.sugestoes p{
    margin-left: 115px;
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #262626;
}
.sugestao{
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
}
.sugestao h4{
    margin-left: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}    
.sugestao h5{
    margin-left: 103px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}    
.sugestao p{
    margin-top: -10px;
    margin-left: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
} 

    
.barra-inferior{
    
    display: none;
}
.barra-inferior ion-icon{
    width: 18px;
    height: 18px;
} 
body{
    background: #E5E5E5;;
}  
@media (max-width: 935px){
    .sidebar{
        display: none;
    }
    
    .conteudo{
        width: 612px;
    }
}   
@media (max-width: 614px){
    .barra-inferior{
        width: 612px;
        height: 54px;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #DBDBDB;
        background: white;
        z-index: 2;
    }    
    .sidebar{
        display: none;
    }
    
    .conteudo{
        width: 612px;
    }
    .barra-topo{
        margin-bottom: 0;
    }    
    .storys{
        background-color: none;
        border: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    .storys ion-icon{
        display: none;
    }  
    .pesquisa{
        display: none;
    }  
    .traco{
        display: none;
    }
    .insta{
        margin-left: 10px;
        position: absolute;
    }
    .center{
        width: 612px;
        position: relative;
    }
    .center img{
        margin-left: 255px;
        position: absolute;
    }
    .ic{
        display: none;
    }
    .icones-b{
        margin-left: 572px;
    }
}  